* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

body {
    background: #174a68;
    color: #400342;
}

/* Hero Section */
.hero {
    position: relative;
    background: url('bg.jpg') center/cover no-repeat;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(5, 133, 184);
}

.hero-content {
    position: relative;
    text-align: center;
    color: white;
}

.profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
    margin-bottom: 15px;
}

.tagline {
    margin-top: 5px;
    font-size: 17px;
    opacity: 0.9;
}

/* Sections */
.container {
    width: 85%;
    margin: 35px auto;
    padding: 25px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #004d99;
    margin-bottom: 10px;
}

/* Skills */
.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 12px;
}

.skill-item {
    background: #e8efff;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #d0dcff;
}

/* Projects */
.project-box {
    background: #f0f7ff;
    border-left: 5px solid #0077cc;
    padding: 15px;
    margin-top: 12px;
    border-radius: 8px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background: #e3e3e3;
    color: #333;
}
